body {
  font-family:"Roboto", sans-serif;

}

.logo {
  text-decoration: none;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.list {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  list-style-type: none;
}

.list-item {
  text-decoration: none;
  color: #212121;
}
.list-item:hover {
  color: #2196f3;
}
.list .list-item:active {
    color:#2196f3
}
.portfolio {
  color:#2196f3
}
.list-item-contact {
  text-decoration: none;
  color: #757575;
}

.button-list {
  list-style-type: none;
 font-family: inherit;
}
button:hover {
  background: #2196f3;
  color: #ffffff;

}

.button-list-item {
  cursor: pointer;
  background: #f5f4fa;
}
.button-list .button-list-item:active {
  background: #2196f3;
  color: #ffffff;
}

.image-list {
  list-style-type: none;
}


h3 {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  list-style-type: none;
  color: #ffffff;
}

.list-contact {
  list-style-type: none;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.background {
  background-color: #2F303A;
}